<div class="center">
<h1>Listing articles</h1>
 
    
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
   <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to '<button class="small">Show</button>'.html_safe, article_path(article) %></br>
      <%= link_to '<button class="small">Edit</button>'.html_safe, edit_article_path(article) %></br>
      <%= link_to '<button class="small">Delete</button>'.html_safe, article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
    <div class="add-new">
    <%= link_to '<button>New article</button>'.html_safe, new_article_path %>
        </div>
</div>